In [7]:
import pandas as pd
d=pd.read_csv("employees details.csv")
print(d.head(2))

   Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
0  677509        Drs.       Lois              H    Walker      F
1  940761         Ms.     Brenda              S  Robinson      F

                      E Mail     Father's Name  Mother's Name  \
0    lois.walker@hotmail.com     Donald Walker   Helen Walker
1  brenda.robinson@gmail.com  Raymond Robinson  Judy Robinson

  Mother's Maiden Name  Salary
0                Lewis  168251
1                Perry   51063

In [10]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Salary'],
      dtype='object')
(100, 11)

In [12]:
print("E Mail",df['E Mail'])

E Mail 0          lois.walker@hotmail.com
1        brenda.robinson@gmail.com
2           joe.robinson@gmail.com
3            diane.evans@yahoo.com
4     benjamin.russell@charter.net
                  ...
95           jose.hill@hotmail.com
96         harold.nelson@gmail.com
97           nicole.ward@yahoo.com
98        theresa.murphy@gmail.com
99         tammy.young@comcast.net
Name: E Mail, Length: 100, dtype: object

In [13]:
print(df[11:14])

    Emp ID Name Prefix First Name Middle Initial  Last Name Gender  \
11  153989       Prof.       Jack              C  Alexander      M
12  386158        Mrs.    Melissa              Q       King      F
13  301576        Hon.      Wayne              G     Watson      M

                      E Mail     Father's Name     Mother's Name  \
11  jack.alexander@gmail.com  Samuel Alexander  Sharon Alexander
12  melissa.king@comcast.net       Philip King        Maria King
13    wayne.watson@gmail.com     Ronald Watson   Margaret Watson

   Mother's Maiden Name  Salary
11               Walker   82965
12                White  166892
13                Hayes   92758

In [14]:
print("Particular peeson details",df.loc[54])

Particular peeson details Emp ID                                   971640
Name Prefix                               Prof.
First Name                             Clarence
Middle Initial                                A
Last Name                                  Ross
Gender                                        M
E Mail                  clarence.ross@apple.com
Father's Name                       Arthur Ross
Mother's Name                       Louise Ross
Mother's Maiden Name                 Washington
Salary                                   165272
Name: 54, dtype: object

In [17]:
print(d.loc[d['Salary']==190139])

    Emp ID Name Prefix First Name Middle Initial Last Name Gender  \
55  253573         Ms.     Sharon              E     Lopez      F

                    E Mail Father's Name Mother's Name Mother's Maiden Name  \
55  sharon.lopez@gmail.com  Daniel Lopez   Susan Lopez                Hayes

    Salary
55  190139

In [18]:
df=d['Salary']/10
print(df)

0     16825.1
1      5106.3
2      5015.5
3     18029.4
4     11764.2
       ...
95    12977.4
96    15619.4
97     9567.3
98     5101.5
99     9365.0
Name: Salary, Length: 100, dtype: float64