In [20]:
import pandas as pd
pd.set_option('display.max_column',10)
df=pd.read_excel("/Users/student/Downloads/marksheet.xlsx")
print(df)

   Unnamed: 0  Roll no.           Name  LICA  EM 2  T&D
0           0         1       Abhinith    36    63   53
1           1         2         Akilan    23    56   65
2           2         3      Anulaxxmi    23    53   33
3           3         4  Aravind Kumar    56    53   32
4           4         5          Arjun    34    76   32
5           5         6         Ashwin    25    23   54
6           6         7           Arya    25    75   23
7           7         8           Babu    75    75   43
8           8         9  Balaganapathy    43    65   43
9           9        10    Balamurugan    54    34   75

In [21]:
k=df.fillna(method="pad")
print(k)
print("\nlipdated line\n")
k.to_excel("/Users/student/Downloads/marksheet.xlsx")

   Unnamed: 0  Roll no.           Name  LICA  EM 2  T&D
0           0         1       Abhinith    36    63   53
1           1         2         Akilan    23    56   65
2           2         3      Anulaxxmi    23    53   33
3           3         4  Aravind Kumar    56    53   32
4           4         5          Arjun    34    76   32
5           5         6         Ashwin    25    23   54
6           6         7           Arya    25    75   23
7           7         8           Babu    75    75   43
8           8         9  Balaganapathy    43    65   43
9           9        10    Balamurugan    54    34   75

lipdated line

In [24]:
k.drop(['LICA'],axis=1,inplace=True)
print(k)
k.to_excel("/Users/student/Downloads/marksheet.xlsx")

   Unnamed: 0  Roll no.           Name  EM 2  T&D
0           0         1       Abhinith    63   53
1           1         2         Akilan    56   65
2           2         3      Anulaxxmi    53   33
3           3         4  Aravind Kumar    53   32
4           4         5          Arjun    76   32
5           5         6         Ashwin    23   54
6           6         7           Arya    75   23
7           7         8           Babu    75   43
8           8         9  Balaganapathy    65   43
9           9        10    Balamurugan    34   75

In [28]:
print("drop NaN rows")
df=pd.read_excel("/Users/student/Downloads/marksheet copy.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("/Users/student/Downloads/marksheet copy.xlsx")

drop NaN rows
   Roll no.           Name  LICA   DLC  EM 2   T&D
0         1       Abhinith  36.0  41.0  63.0  53.0
1         2         Akilan  23.0  34.0  56.0  65.0
2         3      Anulaxxmi  23.0   NaN  53.0  33.0
3         4  Aravind Kumar  56.0  65.0   NaN  32.0
4         5          Arjun  34.0  65.0  76.0   NaN
5         6         Ashwin  25.0  55.0  23.0  54.0
6         7           Arya   NaN  57.0  75.0  23.0
7         8           Babu  75.0  54.0   NaN  43.0
8         9  Balaganapathy  43.0   NaN  65.0  43.0
9        10    Balamurugan  54.0  64.0  34.0  75.0
   Roll no.         Name  LICA   DLC  EM 2   T&D
0         1     Abhinith  36.0  41.0  63.0  53.0
1         2       Akilan  23.0  34.0  56.0  65.0
5         6       Ashwin  25.0  55.0  23.0  54.0
9        10  Balamurugan  54.0  64.0  34.0  75.0

In [30]:
n=pd.read_excel("/Users/student/Downloads/marksheet copy.xlsx")
print(n)
y=n.replace({60:75})
print(y)
y.to_excel("/Users/student/Downloads/marksheet copy.xlsx")

   Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0           0         1     Abhinith    36   41    63   53
1           1         2       Akilan    23   34    56   65
2           5         6       Ashwin    25   55    23   54
3           9        10  Balamurugan    54   64    34   75
   Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0           0         1     Abhinith    36   41    63   53
1           1         2       Akilan    23   34    56   65
2           5         6       Ashwin    25   55    23   54
3           9        10  Balamurugan    54   64    34   75

In [41]:
df=pd.read_excel("/Users/student/Downloads/marksheet copy.xlsx")
print(df)
print("extract array using isin() function")
new=df['LICA'].isin([25])
print(df[new])

   Unnamed: 0.1  Unnamed: 0  Roll no.         Name  LICA  DLC  EM 2  T&D
0             0           0         1     Abhinith    36   41    63   53
1             1           1         2       Akilan    23   34    56   65
2             2           5         6       Ashwin    25   55    23   54
3             3           9        10  Balamurugan    54   64    34   75
extract array using isin() function
   Unnamed: 0.1  Unnamed: 0  Roll no.    Name  LICA  DLC  EM 2  T&D
2             2           5         6  Ashwin    25   55    23   54