In [1]:
import pandas as pd
d=pd.read_excel("Emp.xlsx")
print(d)

    S.No  Unnamed: 1             Name  Unnamed: 3   Age  Unnamed: 5  Gender  \
0    NaN         NaN              NaN         NaN   NaN         NaN     NaN
1    1.0         NaN  lathish krishna         NaN  25.0         NaN    male
2    2.0         NaN           kumran         NaN  24.0         NaN    Male
3    3.0         NaN            Akash         NaN  25.0         NaN    Male
4    4.0         NaN          lakshya         NaN  22.0         NaN  Female
5    5.0         NaN            Irene         NaN  23.0         NaN  Female
6    6.0         NaN           Ashika         NaN  27.0         NaN  Female
7    7.0         NaN           Gopika         NaN  28.0         NaN  Female
8    8.0         NaN             Asha         NaN  31.0         NaN  Female
9    9.0         NaN         Nandhini         NaN  29.0         NaN  Female
10  10.0         NaN         Amarnath         NaN  25.0         NaN    Male
11  11.0         NaN    Ranjith kumar         NaN  28.0         NaN    Male
12  12.0         NaN          Sabrina         NaN  26.0         NaN  Female
13  13.0         NaN         Niranjan         NaN  22.0         NaN    Male
14  14.0         NaN            Rohit         NaN  34.0         NaN    Male
15  15.0         NaN          Lakshmi         NaN  30.0         NaN  Female
16  16.0         NaN    Nithyakalyani         NaN  25.0         NaN  Female
17  17.0         NaN      Padmanabhan         NaN  28.0         NaN    Male
18  18.0         NaN            Rahul         NaN  27.0         NaN    Male
19  19.0         NaN          Shankar         NaN  32.0         NaN    Male
20  20.0         NaN            Shiva         NaN  33.0         NaN    Male
21  21.0         NaN         Susmitha         NaN  24.0         NaN  Female
22  22.0         NaN          Praveen         NaN  24.0         NaN    Male
23  23.0         NaN        Rajarajan         NaN  36.0         NaN    Male
24  24.0         NaN     Sathishkumar         NaN  38.0         NaN    Male
25  25.0         NaN    Rithik roshan         NaN  25.0         NaN    Male

    Unnamed: 7                     Email  Unnamed: 9   Salary
0          NaN                       NaN         NaN      NaN
1          NaN   lathishkrishna@gmil.com         NaN  50408.0
2          NaN      kumaran.16@gmail.com         NaN  43768.0
3          NaN     Akash.james@gmail.com         NaN  67432.0
4          NaN          janani@gmail.com         NaN  67666.0
5          NaN           irene@gmail.com         NaN  34456.0
6          NaN  ashika.mohamad@gmail.com         NaN  46781.0
7          NaN         gopi.ka@gmail.com         NaN  60796.0
8          NaN            asha@gmail.com         NaN  88120.0
9          NaN        Nandhini@gmail.com         NaN  54908.0
10         NaN        amarnath@gmail.com         NaN  76288.0
11         NaN   ranjith.kumar@gmail.com         NaN  68928.0
12         NaN         sabrina@gmail.com         NaN  48548.0
13         NaN        niranjan@gmail.com         NaN  59595.0
14         NaN           rohit@gmail.com         NaN  86443.0
15         NaN         lakshmi@gmail.com         NaN  37475.0
16         NaN   nithyakalyani@gmail.com         NaN  54637.0
17         NaN           padhu@gmail.com         NaN  73411.0
18         NaN           rahul@gmail.com         NaN  98212.0
19         NaN         shankar@gmail.com         NaN  73838.0
20         NaN           shiva@gmail.com         NaN  90873.0
21         NaN        susmitha@gmail.com         NaN  36474.0
22         NaN         praveen@gmail.com         NaN  78904.0
23         NaN       Rajarajan@gmail.com         NaN  34576.0
24         NaN    sathishkumar@gmail.com         NaN  39123.0
25         NaN   rithik.roshan@gmail.com         NaN  59002.0

In [3]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(d.shape)

columns Index(['S.No', 'Unnamed: 1', 'Name', 'Unnamed: 3', 'Age', 'Unnamed: 5',
       'Gender', 'Unnamed: 7', 'Email', 'Unnamed: 9', 'Salary'],
      dtype='object')
(26, 11)

In [8]:
print("S.no",df['Name'])
print(df[1:5])
print("\nparticular details",df.loc[9])

S.no 0                 NaN
1     lathish krishna
2              kumran
3               Akash
4             lakshya
5               Irene
6              Ashika
7              Gopika
8                Asha
9            Nandhini
10           Amarnath
11      Ranjith kumar
12            Sabrina
13           Niranjan
14              Rohit
15            Lakshmi
16      Nithyakalyani
17        Padmanabhan
18              Rahul
19            Shankar
20              Shiva
21           Susmitha
22            Praveen
23          Rajarajan
24       Sathishkumar
25      Rithik roshan
Name: Name, dtype: object
   S.No  Unnamed: 1             Name  Unnamed: 3   Age  Unnamed: 5  Gender  \
1   1.0         NaN  lathish krishna         NaN  25.0         NaN    male
2   2.0         NaN           kumran         NaN  24.0         NaN    Male
3   3.0         NaN            Akash         NaN  25.0         NaN    Male
4   4.0         NaN          lakshya         NaN  22.0         NaN  Female

   Unnamed: 7                    Email  Unnamed: 9   Salary
1         NaN  lathishkrishna@gmil.com         NaN  50408.0
2         NaN     kumaran.16@gmail.com         NaN  43768.0
3         NaN    Akash.james@gmail.com         NaN  67432.0
4         NaN         janani@gmail.com         NaN  67666.0

particular details S.No                         9.0
Unnamed: 1                   NaN
Name                    Nandhini
Unnamed: 3                   NaN
Age                         29.0
Unnamed: 5                   NaN
Gender                    Female
Unnamed: 7                   NaN
Email         Nandhini@gmail.com
Unnamed: 9                   NaN
Salary                   54908.0
Name: 9, dtype: object

In [16]:
print(d.loc[d['Salary']==60796])
df=d['Salary']/999
print(df)

   S.No  Unnamed: 1    Name  Unnamed: 3   Age  Unnamed: 5  Gender  Unnamed: 7  \
7   7.0         NaN  Gopika         NaN  28.0         NaN  Female         NaN

               Email  Unnamed: 9   Salary
7  gopi.ka@gmail.com         NaN  60796.0
0           NaN
1     50.458458
2     43.811812
3     67.499499
4     67.733734
5     34.490490
6     46.827828
7     60.856857
8     88.208208
9     54.962963
10    76.364364
11    68.996997
12    48.596597
13    59.654655
14    86.529530
15    37.512513
16    54.691692
17    73.484484
18    98.310310
19    73.911912
20    90.963964
21    36.510511
22    78.982983
23    34.610611
24    39.162162
25    59.061061
Name: Salary, dtype: float64