In [6]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),datetime(2011, 1, 5),datetime(2011, 1, 7),datetime(2011, 1, 8),datetime(2011, 1, 10),datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -1.313111
2011-01-05    1.768441
2011-01-07    0.218483
2011-01-08   -0.495663
2011-01-10   -1.183137
2011-01-12   -0.116476
dtype: float64

In [8]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [10]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [12]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    1.014432
2000-01-02   -1.283813
2000-01-03   -0.968007
2000-01-04   -0.640303
2000-01-05    1.054721
                ...
2002-09-22   -0.593023
2002-09-23    0.754219
2002-09-24    0.720207
2002-09-25   -0.537934
2002-09-26   -0.047488
Freq: D, Length: 1000, dtype: float64

In [14]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -2.723502
2001-01-02    1.047179
2001-01-03    0.467767
2001-01-04    0.908006
2001-01-05   -0.634527
                ...
2001-12-27    0.370902
2001-12-28    0.836520
2001-12-29   -0.527410
2001-12-30    1.995089
2001-12-31    0.700403
Freq: D, Length: 365, dtype: float64

In [16]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -1.131708
2001-05-02    0.695649
2001-05-03   -0.410665
2001-05-04    0.767420
2001-05-05    0.983661
2001-05-06   -0.777742
2001-05-07   -0.747732
2001-05-08    0.364421
2001-05-09   -0.509962
2001-05-10    0.346861
2001-05-11    1.009404
2001-05-12   -0.149376
2001-05-13    0.285434
2001-05-14   -1.036450
2001-05-15    0.629820
2001-05-16   -0.003592
2001-05-17   -0.140212
2001-05-18    1.114225
2001-05-19   -0.210657
2001-05-20   -0.454365
2001-05-21   -0.279013
2001-05-22    1.140744
2001-05-23   -0.006371
2001-05-24    0.303542
2001-05-25   -2.039587
2001-05-26    1.444160
2001-05-27    1.355270
2001-05-28    1.669164
2001-05-29   -0.238847
2001-05-30    0.505912
2001-05-31    0.060675
Freq: D, dtype: float64

In [18]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    1.014432
2000-01-02   -1.283813
2000-01-03   -0.968007
2000-01-04   -0.640303
2000-01-05    1.054721
Freq: D, dtype: float64

In [ ]:
print(\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts[&quot;2000-02&quot;].head(15))